nextflow {
    kubernetes {
        namespace = 'default' // kubectl config view --minify --output 'jsonpath={..namespace}'
        serviceAccount = 'default' // kubectl get serviceaccount
    }
}

wave {
    enabled = true
}
// Removes the need for PVC
fusion {
    enabled = true
}

process {
    executor = 'k8s'
}

k8s {
    context = 'minikube' //kubectl config current-context
    namespace = 'default'
    serviceAccount = 'default'
}