// Nextflow container provisioning service
wave {
    enabled = true
}
// Using an AWS S3 bucket as a shared storage and work directory
fusion {
    enabled = true
    exportStorageCredentials = true
}

process {
    executor = 'k8s'
}
// K8s config with a cheat sheet
k8s {
    context = 'minikube' //kubectl config current-context
    namespace = 'default' // kubectl config view --minify --output 'jsonpath={..namespace}'
    serviceAccount = 'default' // kubectl get serviceaccount
}

aws {
  accessKey = '' // Minio access key
  secretKey = '' // Minio secret key
  profile = '~/.aws/credentials' // Minio profile if aws cli is installed
  client {
     s3PathStyleAccess = true // Allows you to use the S3:// endpoint format
     endpoint = "http://XXX.XXX.XX.X:30000/" //minikube ip + minio service port
     protocol = 'http'
  }
}

// Need to investigate if we need this
// It was quite a pain to get Nextflow to auth into the Minio server

// docker {
//   runOptions = "-e AWS_ACCESS_KEY_ID='' -e AWS_SECRET_ACCESS_KEY=''"
// }
