nextflow {
    kubernetes {
        namespace = '<RETRIEVED_NAMESPACE>' // kubectl config view --minify --output 'jsonpath={..namespace}'
        serviceAccount = '<RETRIEVED_SERVICE_ACCOUNT>' // kubectl get serviceaccount
    }
}

wave {
    enabled = true
}
// Removes the need for PVC
fusion {
    enabled = true
}

process {
    executor = 'k8s'
}

k8s {
    context = '<RETRIEVED_CONTEXT>' //kubectl config current-context
    namespace = '<RETRIEVED_NAMESPACE>'
    serviceAccount = '<RETRIEVED_SERVICE_ACCOUNT>'
}